# Jupyter
.ipynb_checkpoints/
*.ipynb

# Dataset
dataset/cedar/

# Models
models/*.pkl

# Results
results/*.csv

# Database
database/*.db

# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# IDE
.vscode/
.idea/