# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Models
models/*.pkl

# Dataset
dataset/cedar/

# Database
database/*.db

# Results
results/*.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db